@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Sofia Sans Condensed', sans-serif;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
};
#quote-box{
  width: 45%;
  background-color: #fff;
  border-radius: 2%;
  padding:25px 50px;
  #text{
    text-align: center;
    font-weight: 600;
    color: black
  };
  #author{
    text-align: right;
    color: black
  }
};
.footer_wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  a{
    color: inherit;
    .tweet_icon{
      display: inline-block;
    width: auto;
    height: 100%;
    cursor: pointer;
    
  }
  }
  
}
#new-quote{
  padding: 5px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-weight: 400;
}
.red {
  background-color: rgb(194, 62, 62);
  color:rgb(194, 62, 62) ;
}
.orange {
  background-color: orangered;
  color: orangered;
}
.violet {
  background-color: violet;
  color: violet;
}
.green {
  background-color: rgb(17, 157, 17);
  color: rgb(17, 157, 17);
}
.yellow {
  background-color: yellowgreen;
  color: yellowgreen;
}
.blue {
  background-color: deepskyblue;
  color: deepskyblue;
}
.brown {
  background-color: rgb(115, 81, 12);
  color: rgb(115, 81, 12);
}
.transition {
  transition: all 1s linear;
}


.animate {
  animation: fadeIn 3s;
}

/* Добавьте анимацию для плавного появления текста */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}